html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Дозволяє body розтягуватися на всю висоту вікна */
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Займає 100% висоти екрана */
    position: relative; /* Потрібно, якщо ви захочете абсолютно позиціонувати фонові картинки */
}

#section-sign{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#blok{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    padding: 24px 72px;
    border-radius: 16px;
    background-color: rgba(193, 148, 217, 0.4);
    min-width: 720px;
    box-sizing: border-box;
}

#title-log{
    font-size: 36px;
    margin: 0;
}

label{
    font-size: 24px;
    margin-bottom: -8px;
}


#section-sign-inputs{
    display: flex;
    flex-direction: column;
    /* align-items: center; — Змінено на stretch, щоб інпути розтягувалися */
    align-items: stretch; 
    gap: 16px;
    width: 100%; /* Форма тепер займає всю ширину #blok (в межах його педінгів) */
}

#photo-wine-right-up{
    transform: scaleX(-1);
}

.input-log-admin{
    border-radius: 4px;
    height: 54px;
    font-size: 24px;
    padding-left: 24px;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.25);
    width: 100% ;
    box-sizing: border-box;

}


.save-bottom{
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center; 
    width: 344px;
    padding: 8px;
    background-color: #E5D0FF;
    border: solid #FFEAA1 8px;
    border-radius: 90px;
    box-shadow: 0px 12px 4px 0px rgba(142, 78, 160, 0.5);
    font-size: 36px;
    cursor: pointer;
}

.save-bottom:active{
    transform: translateY(6px);
    box-shadow: 0px 6px 4px 0px rgba(142, 78, 160, 0.5);
}