nav{
    display: flex;
    justify-content: flex-start;
    padding: 16px 0;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    background-color: #C194D9;
    color: #ffffff;
}

.section{
    padding: 8px 16px;
}

.section:active{
    background-color: #ffffff16;
}