#photo-wine-left-up{
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#photo-wine-right-up{
    float: right;
    position: absolute;
    top: 0;
    left: 0;
}

#photo-wine-right-down{
    float: right;
    rotate: 180deg;
    position: absolute;
    right: 0;
    bottom: 0;
}

#photo-wine-left-down{
    float: left;
    position: absolute;
    bottom: 0;
}
