<header class="header">
  <img src="img/logo.png" height="200" width="200">
  <nav class="nav"> 
    <a href="/">home</a>
    <a href="/menu">menu</a>
    <a href="/favorites">favorites</a>
    <a href="/cart">cart</a>
    <a href="/contact">contact</a>
  </nav>
</header>