<header class="header">
  <img src="img/logo.png" height="88">
  <nav class="nav"> 
    <a href="home.html">
      <img src="img/icons/Home.svg" height="32">
      <span>home</span>
    </a>
    <a href="menu.html">
      <img src="img/icons/menu.svg"  height="32">
      <span>menu</span>
    </a>
    <a href="favorites.html">
      <img src="img/icons/Heart.svg"  height="32">
      <span>favorites</span>
    </a>
    <a href="cart.html">
      <img src="img/icons/cart.svg"  height="32">
      <span>cart</span>
    </a>
    <a href="contact.html">
      <img src="img/icons/Phone.svg"  height="32">
      <span>contact</span>
    </a>
  </nav>
</header>