{% include "head.njk" %}
<body>
    {% include "header.njk" %}
    <main>
        <h2>Contact details</h2>
        <section id="contact">
            <div id="phone-all">
                <img src="/img/icons/Phone-footer.svg"  class="contact-icons">
                <div id="phones">
                    <a href="tel:+380XXXXXXXXX">+38 (0XX) XXX-XX-XX</a>
                    <a href="tel:+380XXXXXXXXX">+38 (0XX) XXX-XX-XX</a>
                </div>
            </div>
            <a id="mail" href="mailto:info@example.com">
                <img src="/img/icons/mail.svg"  class="contact-icons">
                info@example.com
            </a>
            <ul id="nav-ul-f">
                <li>
                    <a href="#">
                        <img src="/img/icons/Facebook.svg"  class="contact-icons">
                        <span>cart</span>
                    </a>
                </li>
                <li>
                    <a href="contact.html">
                        <img src="/img/icons/Instagram.svg"  class="contact-icons">
                        <span>contact</span>
                    </a>
               </li>
            </ul>
        </section>
        <img src="/img/amethystVisualLeft.png" class="reveal" id="photo-wine-left-down">
         
    </main>
    {% include "footer.njk" %}
    <script src="/js/home.js"></script>
</body>
</html>