<header>
    <div id="logo">
        <a href="home.html">
            <img src="img/logo.png">
        </a>    
    </div>
    <nav class="nav-menu">
        <ul id="nav-ul">
            <li>
                <a href="home.html">
                    <img src="img/icons/Home.svg" class="header-icons">
                    <span>home</span>
                </a>
            </li>
            <li>
                <a href="menu.html">
                    <img src="img/icons/menu.svg" class="header-icons">
                    <span>menu</span>
                </a>
            </li>
            <li>
                <a href="favorites.html">
                    <img src="img/icons/Heart.svg" class="header-icons">
                    <span>favorites</span>
                </a>
            </li>
            <li>
                <a href="cart.html">
                    <img src="img/icons/cart.svg" class="header-icons">
                    <span>cart</span>
                </a>
            </li>
            <li>
                <a href="contact.html">
                    <img src="img/icons/Phone.svg" class="header-icons">
                    <span>contact</span>
                </a>
            </li>
        </ul>
    </nav>
</header>