<nuv>
    <div id="logo">
        <a href="/">
            <img src="/img/logo.png">
        </a>    
    </div>
    <ul id="nav-ul">
            <li>
                <a id="categories" class="sidebar-cat" href="/categories">
                    <img src="/img/icons/Home.svg" class="header-icons">
                    <span>Categories</span>
                </a>
            </li>
            <li>
                <a id="menu" class="sidebar-cat" href="/menu">
                    <img src="/img/icons/menu.svg" class="header-icons">
                    <span>Menu</span>
                </a>
            </li>
            <li>
                <a id="footer" class="sidebar-cat" href="/footer">
                    <img src="/img/icons/Heart.svg" class="header-icons">
                    <span>Footer</span>
                </a>
            </li>
        </ul>
</nuv>
