{% include "main/head.njk" %}
<body>
    {% include "main/header.njk" %}
    <main>
        <h2 class="title">Contact</h2>
        <nav id="contact">
            <section id="contact-text">
                <div class="contact-all">
                    <img src="/img/icons/Phone.svg"  class="contact-icons">
                    <div class="link-c">
                        {% for link in contacts %}
                            {% if(link.linkType === "phoneNumber") %}
                                <a href="tel:{{ link.link }}">{{ link.name }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="contact-all">
                    <img src="/img/icons/mail.svg"  class="contact-icons">
                    <div class="link-c">
                        {% for link in contacts %}
                            {% if(link.linkType === "email") %}
                                <a href="mailto:{{ link.link }}">{{ link.name }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <ul id="contact-ul">
                    <li>
                        {% for link in contacts%}
                            {% if(link.linkType === "facebook") %}
                                <a href="{{ link.link }}" target="_blank" rel="noopener noreferrer">
                                    <img src="/img/icons/Facebook.svg"  class="contact-icons">
                                    <span>{{ link.name }}</span>
                                </a>
                            {% endif %}
                        {% endfor %}
                    </li>
                    <li>
                        {% for link in contacts%}
                            {% if(link.linkType === "instagram") %}
                                <a href="{{ link.link }}" target="_blank" rel="noopener noreferrer">
                                    <img src="/img/icons/Instagram.svg"  class="contact-icons">
                                    <span>{{ link.name }}</span>
                                </a>
                            {% endif %}
                        {% endfor %}
                    </li>
                    <li>
                    <a href="https://maps.app.goo.gl/X7fEqq6wSkk4ZHii8" target="_blank" rel="noopener noreferrer">
                        <img src="/img/icons/location.svg"  class="contact-icons">
                        <span>10 Soborna Street, Kropyvnytskyi</span>
                    </a>
                </li>
            </ul>
            </section>
            <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2727.6699929485226!2d32.20899082247587!3d48.49929166964516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d042f0ab13c023%3A0xffc3a107455308d8!2z0JDQotCRLdCc0LDRgNC60LXRgg!5e0!3m2!1sru!2sua!4v1775338843868!5m2!1sru!2sua" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </nav>
        <img src="/img/amethystVisualLeft.png" class="reveal" id="photo-wine-left-down">
        
    </main>
    {% include "main/footer.njk" %}
    <script src="/js/home.js"></script>
    {% include "main/bottom.njk"%}