<header>
    <div id="logo">
        <a href="home.html">
            <img src="img/logo.png">
        </a>    
    </div>
    <nav class="nav-menu">
        <ul id="nav-ul">
            <li>
                <a href="/">
                    <img src="img/icons/Home.svg" class="header-icons">
                    <span>home</span>
                </a>
            </li>
            <li>
                <a href="/menu">
                    <img src="img/icons/menu.svg" class="header-icons">
                    <span>menu</span>
                </a>
            </li>
            <li>
                <a href="/favorites">
                    <img src="img/icons/Heart.svg" class="header-icons">
                    <span>favorites</span>
                </a>
            </li>
            <li>
                <a href="/cart">
                    <img src="img/icons/cart.svg" class="header-icons">
                    <span>cart</span>
                </a>
            </li>
            <li>
                <a href="/contact">
                    <img src="img/icons/Phone.svg" class="header-icons">
                    <span>contact</span>
                </a>
            </li>
            <li id="dropdown-menu">
                <a href="#" id="dropdown-static">
                    <img src="img/icons/account_circle.svg" alt="" class="dropdown-img-acc">
                    <span>Name</span>
                    <img src="img/icons/down.svg" alt="" class="dropdown-img-acc"> 
                 </a>
                <ul class="dropdown">
                    <li>
                        <a href="/account">
                            <img src="img/icons/account_circle.svg" alt="" class="dropdown-img">
                            <span class="dropdown-text">account</span>
                        </a>
                    </li>
                    <li>
                        <a href="/favorites">
                            <img src="img/icons/heart.svg" alt="" class="dropdown-img">
                            <span class="dropdown-text">favorites</span>
                        </a>
                    </li>
                    <li>
                        <a href="/orders">
                            <img src="img/icons/order.svg" alt="" class="dropdown-img">
                            <span class="dropdown-text">orders</span>
                        </a>
                    </li>
                    <li id="logout">
                        <a>
                            <img src="img/icons/Logout.svg" alt="" class="dropdown-img">
                            <span class="dropdown-text" >logout</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    
        
</header>