{% include "main/head.njk" %}
<body>
    {% include "main/header.njk" %}
    <main>
        <h2 class="title">Menu</h2>

        <!--{% for link in Category%}
            <bottom class="categories main-text">{{ link.title }}</bottom>
        {% endfor %}-->
        <section id="category">
            <bottom class="categories main-text">Name</bottom>
            <bottom class="categories main-text">Name</bottom>
        </section>
        <div class="dishes">
            <img class="dish-img" src="/img/dish.png" alt="">
            <div class="dish-information">
                <h4 class="dish-name title" >Name</h4>
                <p class="dish-description main-text" >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat quos nihil nulla nemo est. sit amet consectetur, adipisicing elit. Placeat quos nihil nulla nemo est.</p>
                <div class="dish-el-line" >
                    <div class="dish-p-w">
                        <p class="dish-prise main-text" >0$</p>
                        <p class="dish-weight main-text" >0g</p>
                    </div>
                    <div class="dish-function">
                        <img class="dish-icon" src="/img/icons/Heart1.svg" alt="">
                        <img class="dish-icon" src="/img/icons/Shopping-cart.svg" alt="">
                    </div>
                </div>
            </div>
        </div>

         
    </main>
    {% include "main/footer.njk" %}
    <script src="/js/home.js"></script>
    {% include "main/bottom.njk"%}