{% include "main/head.njk" %}
<body>
    {% include "main/header.njk" %}
    <main>
        <img src="/img/amethystVisual.png" class="reveal" id="photo-wine-right-up">
        <section id="section-sign">
            <h2 class="title">Sing up</h2>
            <form id="section-sign-inputs">
                <input type="text" id="user-name" class="input-log" placeholder="Anna Smit">

                <input type="email" id="user-email" class="input-log" placeholder="example@gmail.com">

                <input type="tel" id="user-phone" class="input-log" placeholder="0998529750">

                <input type="password" id="user-pass" class="input-log" placeholder="Enter your password:">
                
                <input type="password" id="user-pass-r" class="input-log" placeholder="Repeat your password:">   

                <p id="change-text">Don’t have an account? <a id="change-log" href="/login">Login</a></p>
            </form>
            <button id="save-signup" class="title save-button">SAVE</button>
        </section>
        <div id="rel">
        <img src="/img/amethystVisualLeft.png" class="reveal" id="photo-wine-left-down">
        <div>
    </main>
    {% include "main/footer.njk" %}
    {% include "main/bottom.njk"%}