{% include "main/head.njk" %}
<body>
    {% include "main/header.njk" %}
    <main>
        <h2 class="title">Menu</h2>
        
    </main>
    {% include "main/footer.njk" %}
    {% include "main/bottom.njk"%}